/*!
Custom styles for display controls
*/

#vcc:before {
    content: 'VCC:';
  }
#vcc:after {
    content: 'V';
}
#temp:before {
    content: 'Temp.:';
  }
#temp:after {
    content: '℃';
}
#clk:before {
    content: 'Clock:';
}

#temp_in::before {
    content: 'Температура в гараже';
}
#temp_in:after {
  content: '℃';
}
#temp_out::before {
  content: 'Температура на улице';
}
#temp_out:after {
content: '℃';
}
#press::before {
  content: 'Атм. давление';
}
#press:after {
content: 'мм.рт.ст.';
}
